<div class="skills-page" style="height: 100vh; padding-top: 20px">
  <div class="skill-div-1">
    <img src="../../assets/programmer.png" class="skills-img" />
  </div>
  <div class="skill-div-2">
    <h1>What I do</h1>
    <p style="font-size: 1.5rem">
      CRAZY FRONTEND DEVELOPER WHO WANTS TO EXPLORE EVERY TECH STACK
    </p>
    <div class="logo-container">
      <img src="../../assets/html_logo.png" title="HTML" class="logo" />
      <img src="../../assets/css_logo.png" title="CSS" class="logo" />
      <img src="../../assets/angular_logo.png" title="Angular" class="logo" />
      <img
        src="../../assets/icons8-react-native-48.png"
        title="Reactjs"
        class="logo"
      />
      <img src="../../assets/nextjs_logo.png" title="Next.js" class="logo" />
    </div>

    <div class="logo-container">
      <img src="../../assets/JA_logo.png" title="JavaScript" class="logo" />
      <img src="../../assets/ts_logo.png" title="TypeScript" class="logo" />
    </div>

    <div class="logo-container">
      <img
        src="../../assets/bootstrap_logo.png"
        title="Bootstrap"
        class="logo"
      />
      <img
        src="../../assets/chakraUI_logo.png"
        title="Chakra UI"
        class="logo"
      />
      <img src="../../assets/sass_logo.png" title="Sass" class="logo" />
      <img src="../../assets/MUI_logo.png" title="Material UI" class="logo" />
    </div>

    <div style="font-size: 1.2rem; margin-top: 10px">
      🚀 Develop highly interactive Front end / User Interfaces for your web and
      mobile applications!
    </div>
    <div style="font-size: 1.2rem; margin-top: 10px">
      🚀 Progressive Web Applications ( PWA ) in normal and SPA Stacks!
    </div>
  </div>
</div>
