<div class="dashboard">
  <div style="padding: 30px">
    <h1 class="burst-text">
      <span *ngFor="let letter of letters" class="letter">{{ letter }}</span>
      <span class="emoji">✋</span>
    </h1>
    <p class="cover-letter-lines">
      A passionate Frontend Developer 🚀 having an experience of building Web
      and Mobile applications with JavaScript / Angular / Reactjs / Nextjs and
      some cool libraries like Material UI, Ckakra UI, ngx-formly and many more.
    </p>
    <div class="social-media-icons">
      <a href="https://github.com/SuvarnaK11" target="_blank">
        <i class="fab fa-github github"></i>
      </a>
      <a href="https://www.linkedin.com/in/suvarna-kale/" target="_blank">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="https://www.instagram.com/r.a.d.h.a._11/" target="_blank">
        <i class="fab fa-instagram insta"></i>
      </a>
      <a href="https://medium.com/@suvarna.kale" target="_blank"
        ><i class="fab fa-medium medium"></i>
      </a>
      <a href="https://leetcode.com/u/Suvarna_Kale/" target="_blank"
        ><img src="../../assets/leetcode.png" class="leetcode" />
      </a>
      <a href="https://discord.com/suvarna0734" target="_blank"
        ><img src="../../assets/discord2.webp" class="discord" />
      </a>
    </div>
    <div class="dashboard-buttons">
      <button class="btn-custom-resume">Contact Me</button>
      <a
        href="https://drive.google.com/file/d/1Z3VLOqbDPzrxogESxbdy8zQTLyPXDoYo/view?usp=sharing"
        target="_blank"
      >
        <button class="btn-custom-resume">See My Resume</button>
      </a>
    </div>
  </div>

  <div>
    <img class="welcomeImage" src="../../assets/skills.jpg" />
  </div>
</div>
